# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Virtual environments
venv/
env/

# Ignore all .env files, recursively
**/.env

# IDEs/editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
